*
{
    box-sizing: border-box;
}
.flex-container
{
    display:flex;
    width: 800px;
    height: 500px;
    border:1px solid rgb(119, 111, 111);
    
}

.col
{
    display:flex;
    width: 50%;
    background-color: white;
    border:1px solid rgb(119, 111, 111);
    justify-content: center;  
    align-items: center;
}
.col1-content /*Flex item*/
{
  width: 100px;
  height: 100px;
  background-color: #6495ED;
  border-radius: 50%;
  position:center;
}
.col2-content /*Flex item*/
{
    padding:20px;
}
