.row
{
    display: flex;
    justify-content: flex-start;
    border:1px solid black;
    width: 600px;
}
.column
{
    background-color: rgb(100 149 236);
    height: 100px;
    flex-grow:1;
    border: solid white;
}
#row2 .column:nth-child(2),
#row2 .column:nth-child(3) 
{
    flex-grow: 2;
}